---
import MainLayout from 'src/layouts/MainLayout.astro';
import PenelitianApprovalData from 'src/components/modules/penelitian/table-inbox';

---

<MainLayout title="Penelitian">
  <div class="bg-white rounded-lg shadow-sm">
    <PenelitianApprovalData client:load />
  </div>
</MainLayout>