---
import MainLayout from 'src/layouts/MainLayout.astro';
import FormPerpanjang from 'src/components/modules/perpanjang';

---

<MainLayout title="Form Perpanjang Penelitian">
  <div class="bg-white rounded-lg shadow-sm">
    <FormPerpanjang client:load />
  </div>
</MainLayout>