---
import MainLayout from 'src/layouts/MainLayout.astro';
import PenelitianTelaah from 'src/components/modules/penelitian/telaah';

---

<MainLayout title="Penelitian Telaah">
  <div class="bg-white rounded-lg shadow-sm">
    <PenelitianTelaah client:load />
  </div>
</MainLayout>